body { 
  overflow-x:hidden;
  margin: 0;
  padding: 0;
}
/* /diplomados */
div.curso {
  width: 100%;
  background-color: #E8E8E8;
  background-image: url(http://i63.tinypic.com/2e3tw12.png);
  background-position: left;
  border-radius: 10px 10px 0 0;
  display: inline-block;
}

div.curso div.imagen {
  float: left;
  width: 30%;
}

div.curso div.description {
  float: left;
  width: 70%;
  padding: 15px 10px;
}

div.description h1, div.description h1 a {
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 20px;
  color: #951519;
  margin: 0;
}

div.cursow {
  margin: 20px 0;
  min-height: 315px;
}
/* diplomados */

@media (min-width: 992px){
  .col-md-6 {
    width: 50%;
}
}

/* carousel */

#main .carousel-inner img {
  max-height: 70vh;
  object-fit: cover;
  filter: grayscale(50%)
}

#carousel {
  position: relative;
}

#carousel .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  color: #FFFFFF;
}

#carousel .overlay .container,
#carousel .overlay .row {
  height: 100%;
}

.soles {
  color: #33b1ff;
font-size: 1.2em;
font-weight: 400;
font-family: 'Lato', sans-serif;
}

#t2x1, .tpromo  {
  color: #33b1ff;
  font-size: 2.5em;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
}

/* btn whatsapp */
.float-floatingButtonCenter {
  top: 46%;
  z-index: 9999999;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.float-right {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 25px;
  right: 25px;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;

}

.float .flaticon-charlar:before {
  font-size: xx-large;
  top: 5px;
  right: 8.5px;
  position: relative;
}

/* /btn whatsapp */

/* sobre nosotros */
.nosotros {
  background-color: aqua;
}



/*inicio header */
footer {
  background-color: #222222;
  color: white;
  display: block;
}

#copyright {
  color: white;
}
/* fin header */


/* page diplomados */
.container-fluid {
  max-width: 1400px;
}

@media (max-width: 576px) {
  .promop {
    display: none;
  }
}

/* Landing penal */
.card-img-overlay {
  top: 60%;
}

.btn-success-penal {
  color: #fff;
  background-color: #00517C;
  border-color: #ffffff;
}

.btn-success-penal:hover {
 color: rgb(251, 255, 0);
}



/* .titulo {
  height: 300px;
  background: #666;
  border: 1px solid #333;
}

.dato {
  height: 150px;
  background: #666;
  border: 1px solid #333;
}

.row {
  display: block !important;
}

[class*="col-md-"] {
  float: right;
} */

.bgimg {
  background-image: url('../../assets/images/penal-images/portada-penal.png');
  height: 250px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.bgimg h2{
  text-shadow: 3px 3px 3px #000000;
  display: block;
}
.bgimg h5 {
  text-shadow: 3px 3px 3px #000000;
  display: block;
}

.bgimg h2 {
  font-size: 2.5rem;
}

.bgimg h5 {
  font-size: 1.8rem;
}

.navbar-nav li {
  border-right: 1px solid  white;
  border-right: 1px solid rgba(102, 102, 102, 0.7) ;
}

/* reglas CSS para formulario */
.form-consulta {
  background: #eee;
  padding: 25px;
  font-family: 'Source Sans Pro', sans-serif;
}
.campo-form { 
  width:400px;
  height:36px;
  margin:2px 0 6px;
  padding-left:6px;
  box-sizing: border-box;
  border-radius:3px;
  border:0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size:1em;}
label span {
  color: #f00
}
textarea { 
  min-height: 150px!important;
}
.btn-form {
  display: inline-block;
  border:0;
  background: #00517C;
  height: 46px;
  line-height: 46px;
  padding: 0 20px;
  border-radius: 6px;
  color:#fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px
}
.btn-form:hover {background: #444}