body {
  /* overflow-x: hidden; */

  font-family: 'Montserrat', sans-serif;
  /* background-color: rebeccapurple; */

}

h1 {
  font-weight: bold;
  font-size: 2rem;
}

h2 {
  font-weight: bold;
  font-size: 1.5rem;
}

h3 {
  font-size: 1.3rem;
  font-weight: bold;
}

a {
  text-decoration: none;

}

li {
  list-style-type: none;
}

/* Esitlos header  */
.baner {
  max-width: 1920px;
  margin: auto;
  position: relative;
}

.header {
  max-width: 1920px;
  margin: auto;
  position: relative;
}

.header a {
  color: #fff;
  font-weight: bold;
  font-size: 1.2rem;
}

.header img {
  position: absolute;
  left: 260px;
  width: 142px;
  top: 40px;
  z-index: 99;
}

.header nav {
  width: 50%;
  margin: auto;
  position: absolute;
  left: 403px;
  align-items: center;
  top: 85px;
  z-index: 99;
}

.header ul {
  display: flex;
  justify-content: space-evenly;
}

/* estilos a text baner  */

.baner h1 {
  color: #fff;
}

.baner figure {
  margin: 0;
  padding: 0;
}

.baner h1 {
  position: absolute;
  top: 450px;
  left: 295px;
}

.text-title-peru {
  font-size: 3.6rem;
  font-weight: 800;
  margin-top: -0.5rem;
}

.text-title-profesinal {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: -1.2rem;
  margin-top: -0.2rem;
}

.text-title-campo {
  display: flex;
  margin-top: -10px;
}

.text-title-campo {
  margin-top: -0.1rem;
  font-size: 1.6rem;
  font-weight: 700;
}

.baner-text-title-law {
  font-size: 3.6rem;
  font-weight: 800;
}

/* main section principal  */
main {
  max-width: 1540px;
  margin: auto;
}


section .services {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template: 1fr / repeat(3, 1fr);
  /* grid-column-gap: 60px; */
  /* grid-template-areas: "header" "contenido" "footer"; */
  grid-gap: 0 60px;
  margin-top: 2rem;
  align-items: center;
}

.services span {
  text-decoration-line: underline;
}

/* .header {
  grid-area: header;
} */

.services article {
  height: 490px;
  color: #fff;
  background-color: #004E77;
  position: relative;
}

.services-img img {
  width: 100%;
}

.services p,
.services h2 {
  padding: 0.5rem 1rem;
}

.services p {
  line-height: 1.2;
}

.services a {
  position: absolute;
  bottom: 1.2rem;
  background-color: #fff;
  padding: 0.8rem 4rem 0.8rem 2rem;
  color: #004E77;
  font-weight: 600;
  font-size: 1.1rem;
  right: 0;
}

/* beneficios  */
.container-benefit {
  display: grid;
  grid-template: repeat(3, 1fr)/repeat(3, 1fr);
  grid-gap: 1rem 2rem;
  grid-template-areas: "b b b "
    "b1 b2 b3"
    "b4 b4 b4";
  margin-top: 2rem;
}

.b {
  grid-area: b;
  display: flex;
  align-items: center;
}

.b1 {
  grid-area: b1;
}

.b2 {
  grid-area: b2;
}

.b3 {
  grid-area: b3;
}

.b4 {
  grid-area: b4;
  margin: auto;
  max-width: 492px;
}

.b1,
.b2,
.b3,
.b4 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container-benefit img {
  padding-right: 1rem;
}

.container-benefit h3 {
  padding-bottom: 0.5rem;
  color: #004E77;
}

.container-benefit h2 {
  padding-left: 2rem;
  font-size: 2.5rem;
  font-weight: 700;
  color: #004E77;
}

.container-benefit p {
  color: #666666;
}

/* section cursos  */
.courses_title {
  background-color: #004E77;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
  margin-top: 0.8rem;
}

.courses_title h2 {
  font-size: 2rem;
}

.courser .courses_college {
  display: flex;
  justify-content: space-evenly;
  height: 191px;
  width: 900px;
  margin: auto;
  margin-top: 20px;
}

/* courser verano  */
section .courses-verano {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  grid-gap: 2rem 2.5rem;
}

.courses-verano article {
  background-color: #004E77;
  color: #fff;
  
}
.courses-verano img {
  width: 100%;
  
}
.courses-verano h3,
.courses-verano ul {
  padding: 1rem 1.5rem;
}

.courses-verano h3 {
  font-weight: 500;
}

.courses-verano ul {
  padding-top: 2rem;
}

.courses-verano a {
  position: absolute;
  bottom: 1.2rem;
  background-color: #fff;
  padding: 0.8rem 4rem 0.8rem 2rem;
  color: #004E77;
  font-weight: 600;
  font-size: 1.1rem;
  right: 0;
}
.courses-verano article {
  position: relative;
  height: 520px;
  
}

