
// variables

// colors
$color-primary: #004d79;
$color-secondary: #006db3;
$color-btn:  #009cff;
$color-white: #ffffff;
$color-footer: #363636;
$color-wp: #25D366;
$color-black: #000000;
 
// fonts 
$font-family: Montserrat;
$font-size: 62.5%;