// variables
// colors
$color-primary: #004d79;
$color-secondary: #006db3;
$color-btn : #009cff;
$color-white: #ffffff;
$color-footer: #363636;
$color-wp: #25D366;
$color-black: #000000;
$color-offer: #c6cf52;
// colores diplomados comunidades
$color-primary-cc: #08260A;
$color-secondary-cc: #3E5902;
$color-btn :#5A98BF;

// colores diplomado civil 
$color-primary-cv: #002940;
$color-secondary-cv: #ff671f;
$color-border-cv: #72B7DB;

// colores administrativo
$color-secondary-ad: #AC1B06;
// color LP laboral
$color-primary-lab: #202020;
$color-secondary-lab:  #85340D;
// fonts 
$font-family: Roboto;
$font-size: 62.5%; 
// price
